# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
venv/
env/

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# Build
build/
dist/
*.egg-info/

# Tests
.pytest_cache/
.coverage
htmlcov/

# Ruff / MyPy
.mypy_cache/
.ruff_cache/

# Logs
*.log
